* {
    margin: 0;
    padding: 1px;
}
html,body {
   height: 100%;
   padding: 10px;
   font-family: "Comic Sans MS", "Helvetica", sans-serif;
}
h1,h2,h3,strong {
    color: #666;
}
p  {
    color: #777;
}
#top {
    text-align: center;
}
#top > p {
    font-size: 14px;
}
#results > p {
    text-align: center;
    font-size: 16px;
    color: black;
}
#results > p > span {
    font-weight: bold;
    color: rgba(50, 205, 205, 1);
}
#wrapper {
    width: 100%;
    height: 100%;
}
#parameters {
    background: rgba(200, 200, 200, 0.6);
    float: left;
    height: 420px;
    width: 20%;
    margin-top: 50px;
    padding: 10px 16px 16px 16px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #666;
}
#plot {
    float: right;
    width: 75%;
    height: 75%;
}
@media (min-width: 800px) and (max-width: 1106px) {
    #parameters
    {
        height: 500px;
    }
}
@media (max-width: 800px) {
    #parameters, #plot {
        display: block;
        float: none;
        width: 90%;
        margin-top: 10px;
    }
    #parameters {
        height: 400px;
    }
    #top > h1,h2,h3,p {
        font-size: 12px;
    }
    #results {
        font-size: 12px;
    }
    #results > p > span {
        display: block;
    }
}
#inputs {
    margin: auto;
    text-align: left;
}
input, textarea {
    font-size: 12px;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #666;
}
textarea {
    width: 96%;
}
#tol {
    width: 48%;
}
.interval {
    width: 21%;
}
.explanation {
    font-size:12px;
    font-style: italic;
}
.explanation > a {
    color: #000
}
#evaluate {
    text-align: center;
    font-family: "Comic Sans MS", "Helvetica", sans-serif;
    color: #666;
    margin: auto;
    margin-top: 24px;
    width: 100px;
    height: 40px;
    background-color: rgba(50, 205, 205, 0.5);
    font-size: 16px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #666;
}
#loading {
   width: 100px;
   height: 100px;
}
#alerts > p {
    margin-top: 10px;
    text-align: center;
    font-size:10px;
}
table {
    border-collapse: collapse;
}
table, td, th {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid gray;
}
