* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  /*background-color: rgb(30,30,30);*/
  background-color: rgb(255,255,255);
}

p  {
  color: #777;
}

div#top {
  height:42px;
  width:calc(100%-1px);
  background-color: #666;
}
div#topleft {
  display:block;
  float:left;
  width: 40%;
  height: inherit;
  background-color: #666;
}
div#topleft div {
  display:inline;
  float:left;
  height:inherit;
}
@font-face {
    font-family: myMunro;
    src: url(../fonts/munro/Munro.ttf);
    /*src: url(../fonts/neris/Neris-SemiBold.otf);*/
    /*src: url(../fonts/Blackout-Midnight.ttf);*/
}
div#name p {
  margin-left: 5px;
  padding: 3px 5px 5px 10px;
  font-size: 34px;
  font-family: myMunro;
  /*font-family: 'VT323', monospace;*/
  color: rgba(240,240,240,1);
}
div#topright {
   display:block;
   float:right;
   width: 60%;
   height: inherit;
   background-color: #666;
}
div#topright div {
  display:inline;
  float:right;
}
div.topbtn {
  height: 42px;
  width: 42px;
  /*border-style: inset;
  border-width: 2px;*/
  cursor: pointer;
  margin:auto;
  box-shadow: inset -5px -5px 0px rgba(30,30,30,0.4);
}
div.topbtn p {
  padding: 20% 27% 25% 20%;
  text-align: center;
  font-size: 22px;
  font-family: 'VT323', monospace;
  color: white;
}
div#menu {
  background-color: rgba(200,200,200,0.8);
}
div#menu:hover {
  background-color: rgba(10,200,230,1);
}

div#instructions p {
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: orange;
  margin-top: 6px;
  margin-right: 20px;
}
div#eject {
  background-color: rgba(60,60,60,0.8);
}
div#eject:hover {
  background-color: rgba(160,0,100,1);
}
div#gridsize {
  background-color: rgba(60,60,60,0.8);
}
div#gridsize:hover {
  background-color: rgba(160,0,100,1);
}
div#mode {
  background-color: rgba(75,75,75,0.8);
}
div#mode:hover {
  background-color: rgba(240,80,80,1);
}
div#zoomout {
  background-color: rgba(90,90,90,0.8);
  display:none;
}
div#zoomout:hover {
  background-color: rgba(240,130,200,1);
}
div#zoomin {
  background-color: rgba(105,105,105,0.8);
  display:none;
}
div#zoomin:hover {
  background-color: rgba(230,110,255,1);
}
div#loop {
  background-color: rgba(120,120,120,0.8);
}
div#loop:hover {
  background-color: rgba(150,80,220,0.8);
}
div#slowdown {
  background-color: rgba(135,135,135,0.8);
  display:none;
  letter-spacing: 2px;
}
div#slowdown:hover {
  background-color: rgba(50,100,230,1);
}
div#speedup {
  background-color: rgba(150,150,150,0.8);;
  display:none;
  letter-spacing: -2px;
}
div#speedup:hover {
  background-color: rgba(50,150,200,1);
}
div#playpause {
  background-color: rgba(165,165,165,0.8);
}
div#playpause:hover {
  background-color: rgba(0,200,10,1);
}
div#about {
  background-color: rgba(200,200,200,0.9);
}
div#about:hover {
  background-color: rgba(255,165,0,1);
}
div#about p {
  letter-spacing: 2px;
}
/*div#type {
  background-color: #444;
}*/

div.dropdown a {
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
}
.dropdown-content {
    display: none;
    position: relative;
    top: 0px;
    left: 78px;
    background-color: #eee;
    min-width: 140px;
    box-shadow: 6px 8px 8px 0px rgba(0,0,0,0.4);
    z-index: 1;
}
.dropdown-content-gl {
    min-width: 90px;
    top: 0px;
    left: 48px;
}
.dropdown-content-menu {
    min-width: 120px;
    min-height: 60px;
    top: 0px;
    left: 0px;
}
#type > div {
    min-width: 160px;
    left: 90px;
}
#type > div > a {
    text-align: left;
}
.dropdown-content a {
    color: black;
    padding: 4px 4px 5px 7px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 24px;
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
}
.dropdown-content a:hover {
  background-color: rgba(240,50,100,.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


div#main {
  margin:auto;
  width: 100%;
  height: calc(100% - 46px);
}
 div.container {
   float: left;
   cursor: pointer;
 }
div.graph {
  width: 100%;
  height: 100%;
}

#about-modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(60,60,60);
  background-color: rgba(60,60,60,0.4);
}
#about-modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: -58px;
  padding: 5%;
  width: 75%;
  height: 72%;
  overflow: auto;
  box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.4);
}
.scroll {
  overflow: scroll;
  margin-top: -10px;
}
#close-modal-btn {
  color: #555;
  float: right;
  position: fixed;
  top:55px;
  right:10%;
  font-size: 48px;
  margin-top: -12px;
  font-weight: bold;
}
#close-modal-btn:hover, #close-modal-btn:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}
#about-modal-content h2 {
  font-family: myMunro;
  font-size: 24px;
  padding: 10px;
  color: rgba(160,0,150,.8);
  text-align: center;
}
#about-modal-content h3 {
  font-family: sans-serif;
  font-size: 18px;
  color: #555;
  text-align: center;
  padding: 6px;
}
#about-modal-content p {
  font-family: sans-serif;
  font-size: 18px;
  color: #666;
  padding-bottom: 15px;
}
#about-modal-content h2 a {
  color: rgba(10,185,225,1);
  text-decoration: none;
}
#about-modal-content h2 a:hover {
  color: rgba(60,200,245,1);
  text-decoration: none;
}
#about-modal-content a {
  color: purple;
  text-decoration: none;
}
#about-modal-content a:hover {
  color: magenta;
  text-decoration: none;
}
.about-particle-graph {
  width: 120px;
  height: 120px;
  margin:auto;
  clip-path: circle(60px at center);
}
.about-particle-wrap {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: rgb(120,120,120);
  background-color: rgb(255,255,255);
  margin: 2px;
}
@media (max-width: 720px) {
  div#topleft, div#topright {
    float: left;
    width: 101%;
  }
  div#main {
    height: calc(100% - 92px);
  }
  #about-modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: -58px;
    padding: 5%;
    width: 75%;
    height: 82%;
    overflow: auto;
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.4);
  }
}
@media (max-width: 320px) {
  div.topbtn {
    height: 40px;
    width: 40px;
    /*border-style: inset;
    border-width: 2px;*/
    cursor: pointer;
    margin:auto;
    box-shadow: inset -5px -5px 0px rgba(30,30,30,0.4);
  }
  div.topbtn p {
    padding: 20% 27% 25% 20%;
    text-align: center;
    font-size: 20px;
    font-family: 'VT323', monospace;
    color: white;
  }
}
